<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imdb.com</key>
	<array>
		<string>*amazon.com/ap/signin*</string>
	</array>
	<key>audible.com</key>
	<array>
		<string>*amazon.com/ap/signin*</string>
	</array>
	<key>goodreads.com</key>
	<array>
        <string>*amazon.com*</string>
        <string>*amazon-adsystem.com*</string>
	</array>
	<key>comixology.com</key>
	<array>
		<string>*amazon.com/ap/signin*</string>
	</array>
	<key>alexa.com</key>
	<array>
		<string>*amazon.com*</string>
	</array>
	<key>icloud.com</key>
	<array>
		<string>*icloud.com*</string>
		<string>*apple.com*</string>
		<string>*me.com*</string>
		<string>*mac.com*</string>
	</array>
	<key>basecamp.com</key>
	<array>
		<string>https://launchpad.37signals.com/*</string>
	</array>
	<key>highrisehq.com</key>
	<array>
		<string>https://launchpad.37signals.com/*</string>
	</array>
	<key>campfirenow.com</key>
	<array>
		<string>https://launchpad.37signals.com/*</string>
	</array>
	<key>play.google.com</key>
	<array>
		<string>*doubleclick.net*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com</key>
	<array>
		<string>*google.com*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>GAFYD</key>
	<array>
		<string>*partnerpage*google.com*</string>
		<string>*google.com*/a*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>partnerpage.google.com</key>
	<array>
		<string>*partnerpage*google.com*</string>
		<string>*google.com*/a*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*calendar*</string>
		<string>*calendar*google.com*</string>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
	</array>
	<key>google.com/a/</key>
	<array>
		<string>*partnerpage*google.com*</string>
		<string>*google.com*/a*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*calendar*</string>
		<string>*calendar*google.com*</string>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
	</array>
	<key>gmail.com</key>
	<array>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>mail.google.com</key>
	<array>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/mail</key>
	<array>
		<string>*gmail.com*</string>
		<string>*mail*google.com*</string>
		<string>*google.com*mail*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>maps.google.com</key>
	<array>
		<string>*maps*google.com*</string>
		<string>*google.com*maps*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/maps</key>
	<array>
		<string>*maps*google.com*</string>
		<string>*google.com*maps*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>images.google.com</key>
	<array>
		<string>*images*google.com*</string>
		<string>*google.com*images*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/images</key>
	<array>
		<string>*images*google.com*</string>
		<string>*google.com*images*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>video.google.com</key>
	<array>
		<string>*video*google.com*</string>
		<string>*google.com*video*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/video</key>
	<array>
		<string>*video*google.com*</string>
		<string>*google.com*video*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>news.google.com</key>
	<array>
		<string>*news*google.com*</string>
		<string>*google.com*news*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/news</key>
	<array>
		<string>*news*google.com*</string>
		<string>*google.com*news*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>calendar.google.com</key>
	<array>
		<string>*calendar.google.com*</string>
		<string>*google.com*calendar*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/calendar</key>
	<array>
		<string>*calendar.google.com*</string>
		<string>*google.com*calendar*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>notebook.google.com</key>
	<array>
		<string>*notebook.google.com*</string>
		<string>*google.com*notebook*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/notebook</key>
	<array>
		<string>*notebook.google.com*</string>
		<string>*google.com*notebook*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>groups.google.com</key>
	<array>
		<string>*groups.google.com*</string>
		<string>*google.com*groups*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/groups</key>
	<array>
		<string>*groups.google.com*</string>
		<string>*google.com*groups*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>docs.google.com</key>
	<array>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/docs</key>
	<array>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>spreadsheets.google.com</key>
	<array>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>google.com/spreadsheets</key>
	<array>
		<string>*docs*google.com*</string>
		<string>*google.com*docs*</string>
		<string>*spreadsheets*google.com*</string>
		<string>*google.com*spreadsheets*</string>
		<string>*google.com*accounts*</string>
		<string>*accounts.google.com*</string>
	</array>
	<key>yahoo.com</key>
	<array>
		<string>*yahoo.com*</string>
		<string>*login*yahoo.com*</string>
		<string>*yimg.com*</string>
	</array>
	<key>mail.yahoo.com</key>
	<array>
		<string>*mail*yahoo.com*</string>
		<string>*yahoo.com*mail*</string>
		<string>*yimg.com*</string>
	</array>
	<key>facebook.com</key>
	<array>
		<string>*facebook.com*</string>
	</array>
	<key>flickr.com</key>
	<array>
		<string>*flickr.com*</string>
		<string>*login*yahoo.com*</string>
		<string>*flickr.yahoo.com*</string>
	</array>
	<key>twitter.com</key>
	<array>
		<string>*twitter.com*</string>
		<string>*twimg.com*</string>
	</array>
	<key>netflix.com</key>
	<array>
		<string>*netflix.com*</string>
		<string>*microsoft.com*</string>
		<string>*nflximg.net*</string>
	</array>
	<key>linkedin.com</key>
	<array>
		<string>*linkedin.com*</string>
		<string>*microsoft.com*</string>
		<string>*cedexis.com*</string>
	</array>
	<key>feedly.com</key>
	<array>
		<string>*feedly.com*</string>
		<string>*accounts.google.com*</string>
		<string>*accounts.youtube.com*</string>
		<string>*cloudfront.net*</string>
	</array>
</dict>
</plist>
