<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>FAGeneralPreferences</string>
		<key>className</key>
		<string>FAGeneralPreferences</string>
		<key>iconName</key>
		<string>NSPreferencesGeneral</string>
		<key>title</key>
		<string>General</string>
	</dict>
	<dict>
		<key>id</key>
		<string>TabsPreferences</string>
		<key>className</key>
		<string>TabsPreferences</string>
		<key>iconName</key>
		<string>prefpane_icon_tabs</string>
		<key>title</key>
		<string>Tabs</string>
	</dict>
	<dict>
		<key>id</key>
		<string>SecurityPreferences</string>
		<key>className</key>
		<string>SecurityPreferences</string>
		<key>iconName</key>
		<string>prefpane_icon_security</string>
		<key>title</key>
		<string>Security</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ShortcutPreferences</string>
		<key>className</key>
		<string>ShortcutPreferences</string>
		<key>iconName</key>
		<string>prefpane_icon_shortcuts</string>
		<key>title</key>
		<string>Shortcuts</string>
	</dict>
	<dict>
		<key>id</key>
		<string>HandlerPreferences</string>
		<key>className</key>
		<string>HandlerPreferences</string>
		<key>iconName</key>
		<string>prefpane_icon_handlers</string>
		<key>shortTitle</key>
		<string>Handlers</string>
		<key>title</key>
		<string>Handlers</string>
	</dict>
	<dict>
		<key>id</key>
		<string>WhitelistPreferences</string>
		<key>className</key>
		<string>WhitelistPreferences</string>
		<key>iconName</key>
		<string>prefpane_icon_whitelist</string>
		<key>shortTitle</key>
		<string>Whitelist</string>
		<key>title</key>
		<string>Whitelist</string>
	</dict>
	<dict>
		<key>id</key>
		<string>BrowsaWest</string>
		<key>className</key>
		<string>BrowsaPreferences</string>
		<key>iconName</key>
		<string>prefpane_browsa</string>
		<key>shortTitle</key>
		<string>Left</string>
		<key>title</key>
		<string>Left Browser Panel</string>
	</dict>
	<dict>
		<key>id</key>
		<string>BrowsaEast</string>
		<key>className</key>
		<string>BrowsaPreferences</string>
		<key>iconName</key>
		<string>prefpane_browsa</string>
		<key>shortTitle</key>
		<string>Right</string>
		<key>title</key>
		<string>Right Browser Panel</string>
	</dict>
	<dict>
		<key>id</key>
		<string>BrowsaNorth</string>
		<key>className</key>
		<string>BrowsaPreferences</string>
		<key>iconName</key>
		<string>prefpane_browsa</string>
		<key>shortTitle</key>
		<string>Top</string>
		<key>title</key>
		<string>Top Browser Panel</string>
	</dict>
	<dict>
		<key>id</key>
		<string>BrowsaSouth</string>
		<key>className</key>
		<string>BrowsaPreferences</string>
		<key>iconName</key>
		<string>prefpane_browsa</string>
		<key>shortTitle</key>
		<string>Bottom</string>
		<key>title</key>
		<string>Bottom Browser Panel</string>
	</dict>
</array>
</plist>
