<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowBrowsingToAnyDomain</key>
	<false/>
	<key>BookmarkBarShowsFavicons</key>
	<true/>
	<key>BookmarkBarVisible</key>
	<false/>
	<key>BrowsaNewWindowsOpenWith-BrowsaEast</key>
	<integer>1</integer>
	<key>BrowsaNewWindowsOpenWith-BrowsaWest</key>
	<integer>1</integer>
	<key>CommandClickCreatesTabs</key>
	<true/>
	<key>CommandNumberSelectsTab</key>
	<true/>
	<key>ConfirmBeforeClosingMultipleTabsOrWindows</key>
	<true/>
	<key>DownloadDirPath</key>
	<string>~/Downloads</string>
	<key>DownloadItemTTLSeconds</key>
	<integer>1209600</integer>
	<key>EDDefaultThemeName</key>
	<string>GitHub</string>
	<key>EDSelectedThemeName</key>
	<string>GitHub</string>
	<key>EDSuppressConsolePrompt</key>
	<false/>
	<key>FluidAppName</key>
	<string>Colornerd</string>
	<key>HideLastClosedWindow</key>
	<false/>
	<key>HomeURLString</key>
	<string>https://jpederson.com/colornerd/</string>
	<key>IDEUberViewSplitViewDividerStyle</key>
	<true/>
	<key>InvertWhitelist</key>
	<false/>
	<key>JavaEnabled</key>
	<false/>
	<key>JavaScriptCanOpenWindowsAutomatically</key>
	<false/>
	<key>JavaScriptEnabled</key>
	<true/>
	<key>LinksSentToOtherApplicationsOpenInBackground</key>
	<false/>
	<key>MainWindowHasShadow</key>
	<true/>
	<key>MainWindowLevel</key>
	<integer>0</integer>
	<key>MainWindowOpacity</key>
	<integer>1</integer>
	<key>MainWindowSpacesBehavior</key>
	<integer>0</integer>
	<key>NeedsSiteSpecificQuirks</key>
	<true/>
	<key>NewTabsOpenWith</key>
	<integer>0</integer>
	<key>NewWindowsOpenWith</key>
	<integer>1</integer>
	<key>NotificationsEnabled</key>
	<true/>
	<key>OKAutocompletionDelay</key>
	<real>0.25</real>
	<key>OKAutocompletionEnabled</key>
	<true/>
	<key>OKAutocompletionFuzzyMatch</key>
	<true/>
	<key>OKCanAcceptCompletionDelay</key>
	<real>0.17499999999999999</real>
	<key>OKConvertTabsToSpaces</key>
	<true/>
	<key>OKDefaultFontFamily</key>
	<string>Menlo</string>
	<key>OKDefaultFontSize</key>
	<integer>11</integer>
	<key>OKSelectedFontFamily</key>
	<string>Menlo</string>
	<key>OKSelectedFontSize</key>
	<integer>11</integer>
	<key>OKTabWidth</key>
	<integer>4</integer>
	<key>PinToStatusBar</key>
	<false/>
	<key>PlugInsEnabled</key>
	<false/>
	<key>SelectNewWindowsOrTabsAsCreated</key>
	<true/>
	<key>ShowDockBadgeLabels</key>
	<true/>
	<key>StatusBarVisible</key>
	<true/>
	<key>TabBarCellOptimumWidth</key>
	<real>50</real>
	<key>TabsListViewVisible</key>
	<true/>
	<key>TabsListViewVisibleForSingleTab</key>
	<true/>
	<key>TargetedClicksCreateTabs</key>
	<integer>1</integer>
	<key>ToolbarShown</key>
	<false/>
	<key>ToolbarVisible</key>
	<false/>
	<key>TopBottomBrowsaPanelsEnabled</key>
	<false/>
	<key>WhitelistURLPatternStrings</key>
	<array>
		<dict>
			<key>value</key>
			<string>*jpederson.com*</string>
		</dict>
	</array>
	<key>WindowFrameString</key>
	<string>{{286, 178}, {1108, 693}}</string>
	<key>ZoomTextOnly</key>
	<false/>
</dict>
</plist>
